.pagination {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.paginationButton {
  padding: 8px 12px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.paginationButton:hover {
  background-color: #007bff;
  color: #fff;
}
.paginationButton.active {
  background-color: #007bff;
  color: #fff;
}
.paginationButton:disabled {
  background-color: #e9ecef;
  border-color: #e9ecef;
  color: #adb5bd;
  cursor: not-allowed;
}
.cate-nav-buttons button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.cate-nav-buttons .button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: #fff;
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.cate-nav-buttons button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.cate-nav-buttons button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}


@media (max-width: 1000px) {
  .category-manuel-styles {
    display: grid !important;
    gap: 2rem;
  }
}
