.most-popular-container {
  margin: 6rem;
}
.popular {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
}
.each-products {
  border-radius: 5px;
  border: 6px solid #000;
  box-shadow: 12px 12px 0 #000;
  transition: transform 0.3s, box-shadow 0.3s;
}
.each-products:hover{
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 #000;
}
.each-products img {
  height: 200px;
  width: 280px;
}
.product-details {
  padding: 2rem;
  display: grid;
  gap: 1rem;
}
.popular-button{
  border: 3px solid #000;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 500px) {
  .most-popular-container {
    margin: 7rem 3rem;
  }
}
