nav a img {
  height: 76px;
}
nav {
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
}
.nav-link:hover{
  color: #ffa500 !important;
}
.navbar-own-styles {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar-scroll-style .div-own-styles ul li a, .navbar-for-other-pages .div-own-styles ul li a {
  color: #000 !important;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
.navbar-own-styles li a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
.div-own-styles {
  justify-content: flex-end;
  /* background-color: #000; */
}

.navbar-scroll-style, .navbar-for-other-pages {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); /* transparent layer */
  backdrop-filter: blur(10px);           /* glass effect */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.navbar-scroll-style .div-own-styles ul li a{
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
/* <reset-style> ============================ */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}
button span {
  background-image: none;
}
button:focus {
  box-shadow: none !important;
}
/* <main-style> ============================ */
.menu__icon {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  background-color: rgb(29, 29, 31, 0.7) !important;
  border: solid 1px rgba(66, 66, 69, 0.7) !important;
}

.menu__icon::before {
  display: block;
  content: "+";
  color: rgb(245, 245, 247);
  font-size: 1.125rem;
  font-weight: 400;
  transition: transform 0.3s ease-out;
  transform-origin: center;
}

.menu__icon:hover::before {
  transform: rotate(45deg) scale(1.08);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

@media (max-width: 991.50px) {
.show{
  width: 100%;
  background: rgba(255, 255, 255, 0.1); /* transparent layer */
  backdrop-filter: blur(10px);           /* glass effect */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  color: white;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
}
}
